a {
	color: black;
}

h1 {
	text-align: center;
}

table {
	border-width: thin;
	border-spacing: 5px;
	border-style: solid;
	text-align: right;
}

th {
	font-size: 17px;
	text-align: left;
}

.extra { 
    display: none;
}

p:hover .extra {
    display: inline-block;
	font-size: 17px;
}
