h1 {
	text-align: center;
}
a {
	color: black;
}

th {
	font-size: 17px; 
}

table {
	text-align: right;
	border-spacing: 5px;
	border-style: solid;
}
.extra { 
    display: none;
}

p:hover .extra {
    display: inline-block;
}